<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DynamoDbUrl" value="http://localhost:8000" />    
    <add key="DynamoDbAccessKey" value="AKIAIOHKW5JADMINF6YA" />
    <add key="DynamoDbSecretKey" value="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" />
  </appSettings>
 
</configuration>